API_KEY=your-api-key-here
BASE_URL=https://api.xkiro.com/v1

IMAGE_MODEL_LARGE=mistralai/mistral-large-2512
IMAGE_MODEL_MEDIUM=mistralai/mistral-medium-3.5
IMAGE_MODEL_SMALL=mistralai/mistral-small-2603

TIER_CLEAR_MODEL=mistralai/mistral-small-2603
TIER_BLURRY_MODEL=mistralai/mistral-medium-3.5
TIER_VERY_BLURRY_MODEL=mistralai/mistral-large-2512

DPI=300
IMAGE_FORMAT=png
OCR_CONCURRENCY=4

MAX_CONCURRENT_DOCUMENTS=4

LATENCY_THRESHOLD_CONVERT=120
LATENCY_THRESHOLD_ENHANCE=30
LATENCY_THRESHOLD_ASSESS=60
LATENCY_THRESHOLD_ROUTE=5
LATENCY_THRESHOLD_EXTRACT=120
LATENCY_THRESHOLD_OUTPUT=30

LLM_PAGE_RETRY_LIMIT=2
LLM_DOCUMENT_RETRY_LIMIT=5

DOCUMENT_TOKEN_LIMIT=100000

TEMPLATE_PATH=data/Template/test.json
